@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
h1,h2,h3,p,li,ul {
    font-family: 'Trispace', sans-serif;
}
.background_video {
    position: absolute;
    top: 0;
    z-index: -9999999;
    height: 400px !important;
    width: 100vw;
}

.dark {
    background-color: #1b1b1b;
}

.shade {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dark_grad {
    background: linear-gradient(10deg, white, black 20%) no-repeat;
}


.shade_text {
    text-shadow: 1px 1px 1px rgb(4, 56, 30), 10px 5px 20px black; 
}

.shade_text_light {
    text-shadow: 1px 1px 1px rgb(4, 56, 30), 5px 5px 10px black; 
   }


   .mobile_nav {
       width: 250px;
       background: black;
       display: flex;
       flex-direction: column;
       color: white;
       position: absolute;
       top:0;
       left: 0;
       height: 100vh;
       z-index: 999999999999999999;
       padding-top: 2em;
       justify-content: space-around;
       align-items: center;
       transition: all linear 100ms;
   }
.hide {
    left: -250px !important;
}
@media only screen and (min-width: 800px) {
    .hero_video {
        /* height:60px; */
        /* width: 100vw; */
    }
  }

  @media only screen and (max-width: 370px) {
    /* .hero_video {
        top: 50px;
        height: auto;
    } */
   .mobile_nav {
    width: 100vw;
   }
   .hide {
       left: -100vw !important;
   }
   .close_button {
       position: absolute;
       top: 20px;
       left: 40px;
   }
   .mob_text {
       top: 75px !important;
   }
  }
  @media only screen and (min-width: 800px) {
    /* .hero_video {
        top: 50px;
        height: auto;
    } */
   .mob_text {
       top: 170px !important;
   }
  }

  @media only screen and (min-width: 1200px) {
    /* .hero_video {
        top: 50px;
        height: auto;
    } */
   .mob_text {
       top: 90px !important;
   }
  }